.ch-grid {
	margin: 20px auto;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 40px;
}
.ch-grid li h4{
	 font-size:22px;
	 padding-bottom:10px;
	 color:#f83f8d;
	 border-bottom:#f83f8d dotted 1px;
	 line-height:30px;
}